.conteudo h1 {
  color: var(--cor-principal);
  text-align: center;
  margin-bottom: 10px;
}

.texto-topo {
  text-align: center;
  margin-bottom: 20px;
}

.filtro {
  text-align: center;
  margin-bottom: 30px;
}

.filtro select {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 15px;
}